:root {
  --lexendFont: 'Lexend Deca', sans-serif;
  --bigShouldersFont: 'Big Shoulders Display', cursive;
  --btn-orange: hsl(31, 77%, 52%);
  --btn-cyan: hsl(184, 100%, 22%);
  --btn-drkcyan: hsl(179, 100%, 13%);
  --txt-light: rgba(255, 255, 255, 0.75);
  --txt-lightgray: rgb(242, 242, 242);
  --sm: 0.8125rem;
  --md: 0.9375rem;
  --lg: 2rem;
  --xl: 2.25rem;
}

/* Setup */
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-light);
  background-color: var(--txt-lightgray);
  font-family: var(--lexendFont);
  font-size: var(--md);
  line-height: 1.5;
}
.link {
  color: var(--txt-lightgray);
}
/* Button Styles */
.btn {
  display: inline-block;
  padding: 9px 10px;
  background-color: var(--txt-lightgray);
  border: 1.6px solid rgba(255, 255, 255, 0);
  border-radius: 2rem;
  font-size: var(--md);
  transition: all 0.3s ease-in-out;
}
.sedans .btn a {
  color: var(--btn-orange);
}
.suvs .btn a {
  color: var(--btn-cyan);
}
.luxury .btn a {
  color: var(--btn-drkcyan);
}

.btn:hover,
.btn:active,
.btn:focus {
  border-color: var(--txt-lightgray);
  transform: scale(0.9);
  color: var(--txt-lightgray);
}

.sedans .btn:hover,
.sedans .btn:active,
.sedans .btn:focus {
  background-color: var(--btn-orange);
}
.suvs .btn:hover,
.suvs .btn:active,
.suvs .btn:focus {
  background-color: var(--btn-cyan);
}
.luxury .btn:hover,
.luxury .btn:active,
.luxury .btn:focus {
  background-color: var(--btn-drkcyan);
}

.container {
  margin: 4rem;
}

.card {
  display: flex;
  flex-flow: column;
  min-width: 15rem;
  max-width: 19rem;
  padding: 2.6rem;
}
.card h1 {
  margin: 2rem 0;
  color: var(--txt-lightgray);
  font-family: var(--bigShouldersFont);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card p {
  font-size: var(--sm);
  margin-bottom: 2rem;
}
.card.sedans {
  background-color: var(--btn-orange);
  border-radius: 15px 15px 0 0;
}
.card.suvs {
  background-color: var(--btn-cyan);
}
.card.luxury {
  background-color: var(--btn-drkcyan);
  border-radius: 0 0 15px 15px;
}

/* Attribution */
.attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0.5rem;
  color: #080e26;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #080e26;
}

/* Media Queries */
@media (min-width: 48rem) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .card.sedans {
    border-radius: 15px 0 0 15px;
  }
  .card.luxury {
    border-radius: 0 15px 15px 0;
  }
}
